<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let match of matches">
    <ng-template ngbPanelHeader>
      <button ngbPanelToggle class="btn container-fluid">
        <div class="row align-items-center" [id]="match.id">
          <div class="col-auto text-right date">
            <div>{{ match.begin_at | date: "dd/MM/yyyy" }}</div>
            <div>{{ match.begin_at | date: "HH:mm" }}</div>
          </div>
          <div class="col text-right team">
            {{ match.opponents[0].name }}
            <img *ngIf="match.opponents[0].image_url" [src]="match.opponents[0].image_url" [alt]="match.opponents[0].name" />
          </div>
          <div class="col-auto score">
            <ng-container *ngIf="match.status === 'finished'" >{{ getTeamScore(match, match.opponents[0].id) }} - {{ getTeamScore(match, match.opponents[1].id) }}</ng-container>
          </div>
          <div class="col text-left team">
            <img *ngIf="match.opponents[1].image_url" [src]="match.opponents[1].image_url" [alt]="match.opponents[1].name" />
            {{ match.opponents[1].name }}
          </div>
          <div class="col league">
            <img *ngIf="match.league.image_url" [src]="match.league.image_url" [alt]="match.league.name" />
            <div *ngIf="!match.league.image_url" >
                {{ match.league.name }}
            </div>
          </div>
        </div>
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      <ng-container [ngSwitch]="match.gameName">
        <app-lol-match-details
          *ngSwitchCase="'league-of-legends'"
        ></app-lol-match-details>
        <app-csgo-match-details
          *ngSwitchCase="'cs-go'"
        ></app-csgo-match-details>
        <app-rl-match-details *ngSwitchCase="'rl'"></app-rl-match-details>
        <app-valorant-match-details
          *ngSwitchCase="'valorant'"
        ></app-valorant-match-details>
      </ng-container>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
