<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let match of matches">
    <ng-template ngbPanelHeader>
      <button ngbPanelToggle class="btn container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-2 col-6 league">
            <img *ngIf="match.league.image_url" [src]="match.league.image_url" [alt]="match.league.name" />
            <div *ngIf="!match.league.image_url" >
                {{ match.league.name }}
            </div>
          </div>
          <div class="col-lg-2 col-6 text-right date">
            <div>{{ match.begin_at | date: "dd/MM/yyyy" }}</div>
            <div>{{ match.begin_at | date: "HH:mm" }}</div>
          </div>
          <div [class]="match.status === 'finished' ? 'col-lg-2 col-6' : 'col-lg-3 col-8'" class="text-right team">
            {{ match.opponents[0].name }}
          </div>
          <div [class]="match.status === 'finished' ? 'col-lg-1 col-3' : 'col-lg-1 col-4'" class="text-right team">
            <img *ngIf="match.opponents[0].image_url" [src]="match.opponents[0].image_url" [alt]="match.opponents[0].name" />
          </div>
          <div class="col-lg-1 col-3 score" *ngIf="match.status === 'finished'" >
              {{ getTeamScore(match, match.opponents[0].id) }}
          </div>
          <div [class]="match.status === 'finished' ? 'col-lg-2 col-6' : 'col-lg-3 col-8'" class="order-lg-3 text-lg-left text-right team">
            {{ match.opponents[1].name }}
          </div>
          <div [class]="match.status === 'finished' ? 'col-lg-1 col-3' : 'col-lg-1 col-4'" class="order-lg-2 text-lg-left text-right team">
            <img *ngIf="match.opponents[1].image_url" [src]="match.opponents[1].image_url" [alt]="match.opponents[1].name" />
          </div>
          <div class="col-lg-1 col-3 order-lg-1 score" *ngIf="match.status === 'finished'">
              {{ getTeamScore(match, match.opponents[1].id) }}
          </div>
        </div>
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      <ng-container [ngSwitch]="match.gameName">
        <app-lol-match-details [match]="match"
          *ngSwitchCase="'league-of-legends'"
        ></app-lol-match-details>
        <app-csgo-match-details
          *ngSwitchCase="'cs-go'" [match]="match"
        ></app-csgo-match-details>
        <app-rl-match-details *ngSwitchCase="'rl'" [match]="match"></app-rl-match-details>
        <app-valorant-match-details
          *ngSwitchCase="'valorant'" [match]="match"
        ></app-valorant-match-details>
      </ng-container>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
