<nav class="navbar navbar-expand-lg sticky-top bg-dark">
  <div class="container">
    <div class="navbar-brand title">Karmine Corp Schedule</div>
    <div class="navbar-text nav-fill">
      <ul class="list-inline text-right">
        <li class="list-inline-item" *ngFor="let game of games" (click)="selectGame(game.code)">
          <img [class]="game.checked ? 'selected' : ''" [src]="'../../assets/logos/' + game.code + '.png'" [alt]="game.name" />
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-center" *ngIf="loading" >
  <div class="spinner-border">
  </div>
</div>

<div id="finishedMatches">
  <h1 *ngIf="finishedMatches.length">Matchs terminés</h1>
  <app-matches-accordion [matches]="finishedMatches"></app-matches-accordion>
</div>

<div id="runningMatches">
  <h1 *ngIf="runningMatches.length">Matchs en cours</h1>
  <app-matches-accordion [matches]="runningMatches"></app-matches-accordion>
</div>

<div id="upcomingMatches">
  <h1 *ngIf="upcomingMatches.length">Prochains matchs</h1>
  <app-matches-accordion [matches]="upcomingMatches"></app-matches-accordion>
</div>
