<div class="filter text-center sticky-top">
  <div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel *ngFor="let game of games">
      <input type="checkbox" ngbButton [(ngModel)]="game.checked" />
      {{ game.name }}
    </label>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="loading" >
  <div class="spinner-border">
  </div>
</div>

<div id="finishedMatches">
  <h1 *ngIf="finishedMatches.length">Matchs terminés</h1>
  <app-matches-accordion [matches]="finishedMatches"></app-matches-accordion>
</div>

<div id="runningMatches">
  <h1 *ngIf="runningMatches.length">Matchs en cours</h1>
  <app-matches-accordion [matches]="runningMatches"></app-matches-accordion>
</div>

<div id="upcomingMatches">
  <h1 *ngIf="upcomingMatches.length">Prochains matchs</h1>
  <app-matches-accordion [matches]="upcomingMatches"></app-matches-accordion>
</div>
